{% extends 'mysite/base.html' %}

{% block content %}

<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-12 px-0">
      <h1 class="display-4 font-italic">Hi! This is Sreekanth</h1>
      <p class=" text-sm" >To be professionally associated with an esteemed 
        organization with an objective to accept the challenges in the software
         design or development and utilize my knowledge more meaningfully in the
          sphere of programming and work hard towards achieving the goals of organization.
      </p>
      <!-- <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p> -->
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-200 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">About</strong>
        
          <p>
            Had a Hands-on experience with backend developer(Python-Django) along with REST 
            framework and had a sufficient knowledge on HTML&CSS. Able to deal with AI(ML/DL) models,
            data preprocessing,data visualization. Can integrate thrid party applications.Deploying the applications into production
          
          </p>
          <!-- <a href="#" class="stretched-link">Continue reading</a> -->
        </div>
        
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-200 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Technical Summary</strong>
          <!-- <h3 class="mb-0">Post title</h3> -->
          <!-- <div class="mb-1 text-muted">Nov 11</div> -->
          
            <li><span class="font-weight-bold">Languages: </span>Python,R </li>
            <li><span class="font-weight-bold">Frameworks: </span>Django,REST and Hadoop(hive,sqoop)</li>
            <li>Machine Learning, Tensorflow, NLP, face-recognition</li>
            <li>Data visualization </li>
            <li><span class="font-weight-bold">Online Portfolio: </span>Github, GoogleBlogs</li>
            <li>MySQL </li>
            <li>HTML,CSS </li>
            <li>Linux</li>
          
            
          <!-- <a href="#" class="stretched-link">Continue reading</a> -->
        </div>
        
      </div>
    </div>
  </div>
</div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4  border-bottom">
        Education
      </h3>

      <div class="blog-post">

        <p>
          <h5>Engineering</h5>
          JNTUH University<br>
          Hyderabad Institute of Technology and Management<br>
          Electrical and Electronics<br>
          2019<br>
          56%<br>
        </p>

        <hr>
        <p>
          <h5>Intermediate</h5>
          CV RAMAN Junior College<br>
          2015<br>
          86%<br>
        </p>
        <hr>
        <p>
          <h5>School</h5>
          Annus Academy High School<br>
          2013<br>
          9.2<br>
        </p>
        
        <h3>MyWork</h3>
        <hr>
        <h5>Face Crop</h5>
        <p class="blog-post-meta" >October 05, 2020 
        <p><span class="font-weight-bold">Project technical stack: </span>Python, Django, face-recognition, Pillow, HTML and Javascript</p>
        <ul>
          
          <li>The application is about live webcam in which it allows us  
            to take snaps under live streaming and crops the image  .</li>
        </ul>
        <h5>Django and React</h5>
        <p class="blog-post-meta">september 21, 2020 </p>
        <p><span class="font-weight-bold">Project technical stack: </span>Python, Django, Rest framework and React dependencies</p>
        <ul>
          <li>The project deals with basic integration of  django and react into one platform</li>
          <li>The project represents backend(django) data into frontend(react) by the means of rest framework
            
          </li>
          
        </ul>  
          
        
      </div><!-- /.blog-post -->


    </div><!-- /.blog-main -->
    <div class="p-4">
      <h4 class="font-italic">Blogs</h4>
      <ol class="list-unstyled mb-0">
        <li><a href="https://sreekanthtuts.blogspot.com/2020/11/machine-learning-post.html" target="blank">Machine Learning</a></li>
        <li><a href="https://sreekanthtuts.blogspot.com/2020/01/dataframes-in-pandas.html" target="blank">Pandas-dataframes</a></li>
        <li><a href="https://sreekanthtuts.blogspot.com/2019/12/numpy-in-python.html" target="blank">Pandas-numpy</a></li>
      </ol>
    </div>

    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">Contact Me</h4>
        <!-- <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p> -->
        
        <li><a href="tel:+918099961195" target="blank">+91 8099961195</a></li>
        <li>LinkedIn: <a href="https://www.linkedin.com/in/sreekanth-k-210826169" target="blank" >https://www.linkedin.com/in/sreekanth-k-210826169</a></li>
      </div>


      <!-- <div class="p-4">
        <h4 class="font-italic">Contact Me</h4>
        <ol class="list-unstyled">
          <li><a href="mailto:srikanthteja24@gmail.com" about="_">srikanthteja24@gmail.com</a></li>
          
          <li><a href="https://www.linkedin.com/in/sreekanth-k-210826169" target="blank">Linkedin</a></li>
          
        </ol>
      </div> -->
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</main><!-- /.container -->
{% endblock %}

